//fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Fredericka the Great', cursive;
$font-awesome: 'Gabelisa', sans-serif;

//colors
$color-primary: #ffe001;
$color-secondary: #e2e0a6;
$color-secondary-light: #e8e6a9;
$color-grey: #bebebe;
$color-grey-light: #d7d7d7;
$color-white: #ffffff;
$color-black: #000000;