.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 4rem 5rem;
  position: relative;

  &__logo-box {
    display: grid;
    grid-template-columns: 1fr max-content;
  }

  &__delivery-box {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    justify-items: end;
    align-items: end;
    align-content: end;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__delivery {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1.2rem;
    margin-bottom: -1.2rem;
  }

  &__number {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 2rem;
  }

  &__icon {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-left: 1.5rem;
  }

  &__intro {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    justify-content: start;
    justify-items: center;
    margin: 5rem 0 12rem 4rem;
  }

  &__text-info {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid $color-black;
    padding-bottom: 3.5rem;
  }

  &__text-box {
    font-size: 1.8rem;
    font-family: $font-secondary;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: minmax(min-content, 15rem) max-content;
    align-items: center;
  }

  &__share {
    font-size: 4.5rem;
  }

  &__img {
    position: absolute;

    &--main {
      top: 21rem;
      right: 15rem;
    }

    &--1 {
      top: 18.5rem;
      left: 8rem;
    }

    &--2 {
      top: 18rem;
      left: 68rem;
    }

    &--3 {
      top: 100%;
      left: 0;
      transform: translate(-50%, -50%);
    }

    &--4 {
      bottom: 4.5rem;
      left: 65rem;
    }

    &--5 {
      right: 8rem;
      bottom: 6rem;
    }
  }
}

.navigation {
  &__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 3rem 0;
  }

  &__item {
    display: inline-block;
    margin-right: 6rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header-bg {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-image: linear-gradient( 105deg, $color-primary 67%, $color-secondary 67%);
  z-index: -1;
}