.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-black;
  }

  &--navigation {
    font-weight: 700;
  }

  &--primary {
    font-weight: 700;
    padding: 2rem 4rem;
    background-color: $color-primary;
  }

  &--secondary {
    font-size: 1.5rem;
    font-weight: 800;
    border: 1px solid $color-black;
    padding: 2rem 4rem;
  }
}

.submit {
  font-size: 1.5rem;
  font-family: $font-primary;
  text-transform: uppercase;
  font-weight: 700;
  background-color: $color-primary;
  border: none;
  border-radius: .5rem;
  padding: 2.5rem;
  cursor: pointer;
}