@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url("/fonts/Montserrat-ExtraBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Fredericka the Great';
  font-weight: 400;
  src: url("/fonts/FrederickatheGreat-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Gabelisa';
  font-weight: 400;
  src: url("/fonts/Gabelisa.otf") format('opentype');
}