.heading {
  text-transform: uppercase;

  &--awesome {
    font-size: 5rem;
    font-family: $font-awesome;
    font-weight: 400;
    text-transform: none;
  }
}

.heading-1 {
  font-size: 7rem;
  font-family: $font-secondary;
  font-weight: 400;
}

.heading-2 {
  font-size: 4rem;
  font-family: $font-secondary;
  font-weight: 500;
}

.heading-3 {
  font-size: 2rem;
  font-weight: 700;
}

.section-info {
  max-width: 100rem;
  text-align: center;
}