.heading {
  &--awesome {
    font-size: 5rem;
    font-family: $font-awesome;
    font-weight: 400;
  }
}

.heading-1 {
  font-size: 7rem;
  font-family: $font-secondary;
  font-weight: 400;
  text-transform: uppercase;
}