.margin {
  &--smaller {
    margin-bottom: 2rem;
  }

  &--small {
    margin-bottom: 3rem;
  }

  &--medium {
    margin-bottom: 4rem;
  }

  &--large {
    margin-bottom: 5rem;
  }

  &--larger {
    margin-bottom: 9rem;
  }
}