.food-menu {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 9rem 7rem;

  display: grid;
  grid-template-rows: repeat(3, max-content);
  justify-items: center;

  &__dishes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
  }

  &__dish {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr);
    justify-items: center;
  }

  &__img {
    height: 35rem;
    width: 35rem;
    margin-bottom: 4.5rem;
  }

  &__dish-info {
    max-width: 35.5rem;
    text-align: center;
    margin-bottom: 3.5rem;
  }
}

.food-menu-bg {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-image: linear-gradient(to bottom, $color-white 40%, $color-secondary 40% 55%, $color-white 55%);
  z-index: -1;
}

.events {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
}

.slider {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  margin-bottom: 2rem;

  &__box {
    display: grid;
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
    grid-gap: 1rem;
    margin-bottom: 7rem;
  }

  &__img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    cursor: pointer;
    filter: brightness(60%);
    transition: all .3s;

    &:hover {
      filter: none;
      transform: scale(1.2);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 10;
    }

    &:last-child:hover {
      transform: scale(1.2) translateX(-5rem);
    }

    &:first-child:hover {
      transform: scale(1.2) translateX(5rem);
    }
  }

  &__control {
    display: flex;
    justify-content: center;
  }

  &__dot {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $color-grey-light;
    margin-right: 1rem;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &--current {
      background-color: $color-primary;
    }
  }
}

.try-it {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  padding: 9rem 11rem;

  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem 4rem;

  font-weight: 700;
  color: $color-white;
  text-transform: uppercase;

  &__box {
    padding: 3rem;
    background-size: cover;

    &--1 {
      grid-row: 1 / 3;
      padding: 4.5rem;
      background-image: url(/img/try-1.jpg);
    }

    &--2 {
      background-image: url(/img/try-2.jpg);
    }

    &--3 {
      background-image: url(/img/try-3.jpg);
    }
  }

  &__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__info {
    max-width: 22rem;
    font-size: 2.5rem;
    line-height: 1.4;

    &--large {
      font-size: 3rem;
      margin-bottom: 17rem;
    }
  }
}

.reservation {
  grid-column: 2 / 3;
  grid-row: 6 / 7;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 38rem));
    grid-gap: 2.5rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: $font-primary;
    border: 1px solid $color-grey;
    border-radius: .5rem;
    padding: 2.5rem;
    outline: none;
  }
}